# Lattice sandbox credentials (from https://developer.anduril.com/guides/getting-started/sandboxes)
LATTICE_URL=https://lattice-1mny30.env.sandboxes.developer.anduril.com
LATTICE_CLIENT_ID=<from sandbox UI>
LATTICE_CLIENT_SECRET=<from sandbox UI>
SANDBOX_TOKEN=<from sandbox UI>

# Neo4j connection (default: local docker-compose)
NEO4J_URL=neo4j://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password
